<h1> Paginate and Random </h1>

<table>
  <thead>
  <tr>
    <th> Name </th>
    <th> Country </th>
  </tr>
  </thead>
    <body>
    <% @peoples.each do |person| %>
        <tr>
          <td><%= person.name%></td>
          <td><%= person.country %></td>
        </tr>
        <% end %>
    </body>
</table>

<br>


<%= will_paginate @peoples %>